*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans' , sans-serif;
    box-sizing: border-box;
}
.hanz{
    height: 100vh;
    width: 100%;
    background-image: url(croc.jpg);
    background-size: cover;
    background-position: center;
    background-position: flex;
}
nav{
    display: flex;
    align-items: center;
    justify-content:  space-between; 
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.portfolio-logo{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 35px;
    letter-spacing:  1px;
    cursor: pointer;
}
span{
    color: #f9004d;
    font-family: 'Times New Roman', Times, serif;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}
.subs{
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.subs:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 20px 0px 20px;
    font-size:   75px;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 25px;
}
.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius:  30px;
}
.newslatter form input:last-child{
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 10px;
    border-radius:  30px;
    background-color: #f9004d;
    color:white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top:6px;
    right: 6px; 
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
    background-image: url(croc1.jpg);
    background-size: cover;
    background-position: center;
    background-position: flex;
}

.about img{
    height: auto;
    width: 430px;
    border-radius: 30px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 160, 160);
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    font-family: 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 19px;
    margin-bottom: 45px;
}

button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 30px;
    transition: .4s;
}
.button:hover{
    background-color: transparent;
    border: 2px solid;
    cursor:  pointer;
}

.service{
    font-family: 'Times New Roman', Times, serif;
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background:  #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}
h5{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    font-family: 'Times New Roman', Times, serif;
    color: #fcfc;
    font-size: 16x;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #8b2e4c;
    cursor:  pointer;
}
.contact-me{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
} 
.contact-me p{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me .button-two{
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #8b2e4c;
    cursor:  pointer;
}
footer{
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color:whitesmoke;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    color:whitesmoke;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    font-family: 'Times New Roman', Times, serif;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:   #8b2e4c;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size:20px;
}
.social a:hover{
    transform: scale(1.3);
    transition:.3s;
}

.end{
    font-family: 'Times New Roman', Times, serif;
    position: center;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
}

/* The animation code */
@keyframes design {
    10% {background-color: #f9004d; left:0px; top:0px;}
    30% {background-color: rgb(166, 90, 185); left:100px; top: 0px;}
    70% {background-color: #345545; left: 100px; right: 100px;}
    100%{background-color:  #f9004d; left: 0px; right:100px;}
  }
  
  /* The element to apply the animation to */
  ani2 {
    font-family: 'Times New Roman', Times, serif;
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #f9004d;
    animation-name: design;
    animation-duration: 6s;
    animation-direction: reverse;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 30px;
    transition: transform .4s;
}

@keyframes portfolio-animation {
    10% {color: #f9004d; left:0px; top:0px;}
    30% {color: rgb(166, 90, 185); left:100px; top: 0px;}
    80% {color: #93d3b4; left: 100px; right: 100px;}
    100% {color:  #f9004d; left: 0px; right:100px;}
  }

ani1 {
    font-family: 'Times New Roman', Times, serif;
    width: 100px;
    height: 100px;
    position: relative;
    color: red;
    animation-name: portfolio-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }


/* linear 2s infinite alternate */
  @keyframes thirdanimation {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:160px; top:0px;}
    50%  {color:rgb(54, 255, 144); left:160px; top:100px;}
    75%  {color:rgb(238, 165, 55); left:0px; top:100px;}
    100% {color:red; left:0px; top:0px;}
  }

  ani3 {
    font-family: 'Times New Roman', Times, serif;
    width: 100px;
    height: 100px;
    color: red;
    position: relative;
    animation: thirdanimation 6s linear 1s infinite ;
  }
  
